@model Library.ViewModels.Branch.BranchDetailModel

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
}

@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
}



@*@section Scripts{
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    }

    @section Styles{
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    }*@

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Branch Information</h2>
        <a asp-action="Index">Back to Branch Index List</a>
    </div>
    <div class="jumbotron">
        <div class="row">
            <img src="@Model.ImageUrl" />
        </div>
        <div class="row branchInfo">
            <div class="col-md-8">
                <div>
                    <h2>@Model.Name</h2>
                    <div class="branchContact">
                        <div id="branchAddress">Address: @Model.Address</div>
                        <div id="branchTel">Telephone: @Model.Telephone</div>
                    </div>
                    <div id="branchDescription">
                        <p class="caption">@Model.Description</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 detailInfo">
                <table>
                    <tr>
                        <td class="itemLabel">Date Opened: </td>
                        <td class="itemValue">@Model.OpenedDate</td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Number Of Patrons: </td>
                        <td class="itemValue">@Model.NumberOfPatrons</td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Number of Assets: </td>
                        <td class="itemValue">@Model.NumberOfAssets</td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Value of Assets: </td>
                        <td class="itemValue">$@Model.TotalAssetValue</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
