@model Library.Models.All.AllIndexModel

@{
    ViewData["Title"] = "Another all index test";

}

    Lab 3
<h1>@ViewBag.message</h1>
<h6>@ViewData["Title"]</h6>

<div>
    @Html.ListBoxFor(model => model.AssetsList, new SelectList(Model.AssetsList, "Value", "Text"))
</div>


<h2 class="text-muted">All Index Example</h2>
<div id="allIndex">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="patronIndexTable">
        <thead>
            <tr>
                <th>Patron Full Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patron in Model.Alls)
            {
                <tr>
                    <td>@patron.PatronFullName</td>
                </tr>
            }
        </tbody>
    </table>
    <br /><br />
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="patronIndexTable">
        <thead>
            <tr>
                <th>Branch</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var branch in Model.Alls1)
            {
                <tr>
                    <td>@branch.BranchName</td>
                </tr>
            }
        </tbody>
    </table>
    <br /><br />
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="patronIndexTable">
        <thead>
            <tr>
                <th>Asset</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var asset in Model.Alls2)
            {
                <tr>
                    <td>@asset.AssetTitle</td>
                </tr>
            }
        </tbody>
    </table>
</div>
