@model IEnumerable<Library.Models.Patron>

@{
    ViewData["Title"] = "Index";
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
}

@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
}

<h2>CRUD Patron Index</h2>

<p>
    <a asp-action="Create"><i class="fas fa-plus fa-2x" style="color:forestgreen"></i></a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name </th>
            <th>Address </th>
            <th>Date Of Birth</th>
            <th>Phone Number</th>
            <th>CRUD Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @item.DateOfBirth.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelephoneNumber)
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit fa-2x" style="color:darkorange"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle fa-2x" style="color:blue"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt fa-2x" style="color:darkred"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
